/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }
  
  .nav-items {
    display: none;
  }
  
  #menu-icon {
    display: block;
  }
  
  #cancel-icon {
    display: none;
  }
  
  .hero-section {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
  }
  
  .hero-section-left,
  .hero-section-right {
    width: 100%;
  }
  
  .hero-section-heading {
    font-size: 36px;
  }
  
  .hero-section-descrption {
    width: 100%;
  }
  
  .user-image img {
    width: 300px;
    height: 300px;
  }
  
  .AboutMe-section,
  .skills,
  .project-section,
  .contactus-form-section,
  footer {
    padding: 2rem;
  }
  
  .AboutMe-section .About-me {
    flex-direction: column;
  }
  
  .AboutMe-section-left,
  .AboutMe-section-right {
    width: 100%;
  }
  
  .userImage {
    height: auto;
    padding-top: 2rem;
  }
  
  .userImage img {
    height: 300px;
  }
  
  .project-card,
  .project-container {
    width: 100%;
  }
  
  .project-card::before {
    background: linear-gradient(45deg, #300244 35%, #03104ebe, #3250e67c);
    transform-origin: top;
  }
  
  .project-card:hover .project-content {
    transform: scale(1);
  }
  
  .project-content {
    bottom: 10%;
  }
  
  .project-skills-container {
    width: 100%;
  }
  
  .btn-grp .icon {
    font-size: 25px;
  }
}

/* Media Queries for Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hero-section-heading {
    font-size: 40px;
  }
  
  .hero-section-descrption {
    width: 80%;
  }
  
  .user-image img {
    width: 400px;
    height: 400px;
  }
  
  .AboutMe-section .About-me {
    flex-direction: row;
  }
  
  .userImage img {
    height: 500px;
  }
  
  .project-card,
  .project-container {
    width: 90%;
  }
  
  .project-card::before {
    background: linear-gradient(45deg, #300244 35%, #03104ebe, #3250e67c);
    transform-origin: left;
  }
  
  .project-content {
    bottom: 15%;
  }
  
  .btn-grp .icon {
    font-size: 30px;
  }
}

/* Media Queries for Laptop and Desktop Devices */
@media only screen and (min-width: 1025px) {
  .hero-section {
    padding: 0 1rem;
  }
  
  .hero-section-left,
  .hero-section-right {
    width: 50%;
  }
  
  .hero-section-heading {
    font-size: 50px;
  }
  
  .hero-section-descrption {
    width: 70%;
  }
  
  .user-image img {
    width: 500px;
    height: 500px;
  }
  
  .AboutMe-section-left {
    padding-left: 80px;
  }
  
  .userImage {
    padding-top: 6rem;
  }
  
  .userImage img {
    height: 700px;
  }
  
  .project-card {
    width: 80%;
  }
  
  .project-number-right,
  .project-number-left {
    right: -5px;
    top: -20px;
  }
  
  .project-content {
    bottom: 20%;
  }
  
  .project-skills-container {
    width: 60%;
  }
  
  .project-heading {
    font-size: 50px;
  }
  
  .footer-faded-text {
    padding-top: 100px;
  }
  
  .footer-text p {
    padding-top: 0;
  }
}
